run = "cd WebsiteProject && npm run dev"
entrypoint = "WebsiteProject/src/App.jsx"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["echo", "No build needed"]
run = ["node", "production.js"]